<script type="text/javascript">

(function() {
  /* Link the css files the note require and remove the application css file
  begin
  */
  var lkList =
  [
   {'tagName':'link', 'media': 'screen', 'rel': 'stylesheet', 'type': 'text/css', 'href': 'jquery-ui-1.8.2.custom.trimmed.css.css'},
   {'tagName':'link', 'media': 'screen', 'rel': 'stylesheet', 'type': 'text/css', 'href': 'editor.css'},
   {'tagName':'link', 'media': 'screen', 'rel': 'stylesheet', 'type': 'text/css', 'href': 'editor-extension.css'},
   {'tagName':'link', 'media': 'screen', 'rel': 'stylesheet', 'type': 'text/css', 'href': 'dev.css'},
   {'tagName':'link', 'media': '', 'rel': 'stylesheet', 'type': 'text/css', 'href': 'css.css'}
  ];
  for (var i = 0; i < lkList.length; i++) {
     var lk = document.createElement(lkList[i].tagName);
     lk.setAttribute('rel', lkList[i].rel);
     lk.setAttribute('media', lkList[i].media);
     lk.setAttribute('href', '/' + lkList[i].href);
     lk.setAttribute('type', lkList[i].type);
     $(lk).insertAfter($('head').children('link:last'));
  }
  $('link[rel=stylesheet][href*=application]').remove();
  //end
})();
 </script>
<header role="site-navigation">
<ul class="header">
    <li><%= link_to "Create an account", new_user_path %></li>
    <li><a href="https://app.simplenote.com/signin/" class="sign-in active">Sign in</a></li>
</ul>

<h1 class="logo"><a href="https://app.simplenote.com/" title="return to homepage">Chmnote</a></h1>
</header>
<div id="fullpage">
<div id="pagewrap">
        <div class="backpages"><div class="page"><div class="inner">
        <div class="primary easy-form account">
              <h1 class="signin">Please sign in</h1>
                <%= form_for(:session, url: session_path) do |f| %>
                <div id="login">
                <fieldset class="classic-fieldset">
                <div class="input-fields">
                <p>
                	<%= f.label :email %>
                	<%= f.text_field :email, placeholder: "Email" %>
                </p>
                <div id="warn"></div>
                <p>
                	<%= f.label :password %>
                	<%= f.password_field :password, placeholder: "Password" %>
                </div><!-- input-fields -->
                <br>
                <p>
                	<%= f.button :submit, class: "submit button", value: "Sign in" %>
                <p><input type="checkbox" name="remember" value="1" id="check" checked="checked"> <label for="remember" class="option">Remember Me</label></p>
                <p class="forgot"><a href="https://app.simplenote.com/forgot/">Forgot your password?</a></p>
                </fieldset>
                </div>
                <% end %>
        </div>
    <div class="side">
    </div>
  </div></div></div>
</div>
</div>
<footer role="contentinfo">
</footer>